* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

.imgDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    height: 225px;
}

@media only screen and (min-width: 800px) {
    .imgDiv {
        width: auto;
        margin-right: 10px;
    }

    main section:nth-child(2) {
        display: flex;
    }

    address ul {
        padding-left: 20px;
    }
}
